.no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-list li {
  display: block;
  float: left;
}

.treeMapWrapper .top-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.treeMapWrapper .top-bar {
  height: 3em;
  color: #444;
  border-bottom: 1px solid #dcdcdc;
}

.treeMapWrapper .top-bar ul {
  margin-left: 0.5em;

  li {
    line-height: 3em;
    margin-left: 0.5em;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    display: block;
    line-height: 3em;
    transition: all $transitionFast $easeInOutCubic;

    &:hover {
      background: rgba(255, 247, 217, 0.5);
      box-shadow: 0 1px 0 0 rgba(255, 150, 0, 1);
    }

    &:focus,
    &:active {
      outline: none;
      background: rgba(255, 247, 217, 1);
      box-shadow: 0 1px 0 0 rgba(255, 150, 0, 1), inset 0 -2px 0 0 rgba(255, 150, 0, 1);
    }
  }

  .inactive {
    color: #888;
    font-style: italic;
  }
}

.treeMapWrapper .top-bar > p {
  margin: 0 0.5em;
  line-height: 3em;
}

.treeMapWrapper .top-bar .left {
  float: left;
}

.treeMapWrapper .top-bar .right {
  float: right;
}

.treeMapWrapper .top-bar a {
  cursor: pointer;
}

.treeMapWrapper .top-bar input,
.treeMapWrapper .top-bar button {
  display: inline-block;
  margin: 0 0.25em;
  padding: 1em;
  color: inherit;
  font-size: 1em;
  font-weight: 300;
  line-height: 1em;
  border: 0;
  background: transparent;
}

.treeMapWrapper .top-bar button {
  cursor: pointer;
}

.treeMapWrapper .top-bar button.active {
  font-weight: 700;
  text-decoration: underline;
  background: #000;
}

.treeMapWrapper .top-bar button:hover,
.treeMapWrapper .top-bar button:focus {
  outline: none;
}

.treeMapWrapper .top-bar button:active,
.treeMapWrapper .top-bar button:focus {
  outline: none;
}

.treeMapWrapper .top-bar input {
  height: 1em;
  transition: all $transitionFast $easeInOutCubic;
}

.treeMapWrapper .top-bar input:hover {
  background: rgba(255, 247, 217, 0.5);
  box-shadow: 0 1px 0 0 rgba(255, 150, 0, 1);
}

.treeMapWrapper .top-bar input:focus,
.treeMapWrapper .top-bar input:active {
  outline: none;
  background: rgba(255, 247, 217, 1);
  box-shadow: 0 1px 0 0 rgba(255, 150, 0, 1), inset 0 -2px 0 0 rgba(255, 150, 0, 1);
}

.treeMap {
  position: absolute;
  top: 3.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
}

// DIV

.treeMap.div {
  overflow: hidden;

  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    transition: transform 5s $easeInOutCubic;
  }

  .node {
    font-size: 1em;
    overflow: hidden;
    position: absolute;
    transition: opacity   $transitionSemiFast $easeInOutQuadric,
                transform $transitionSemiFast $easeInOutQuadric,
                transform $transitionSemiFast $easeInOutQuadric,
                top 5s $easeInOutCubic,
                left 5s $easeInOutCubic,
                width 5s $easeInOutCubic,
                height 5s $easeInOutCubic;

    .name {
      display: none;
      position: absolute;
      top: 0.25em;
      left: 0.25em;
      font-size: 0.8em;
      line-height: 1.25em;
      cursor: default;
      -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

      &.rotated {
        height: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // Left: 1em Top: center (= 50%)
        transform-origin: 0.5em center;  // 0.5 / 0.8 em
        transform: rotate(90deg);
      }
    }

    &.last,
    &.leaf {
      box-shadow: inset 0 0 0 1px white;

      .name {
        display: block;
      }
    }

    &.inner-node {
      &.last {
        box-shadow: inset 0 0 0 1px white, inset 0 0 0 2px rgba(0, 0, 0, 1);

        &:hover {
          cursor: pointer;

          &:after {
            position: absolute;
            z-index: 1;
            content: '';
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background: rgba(0, 0, 0, 0.66);
          }

          .name {
            z-index: 2;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    &.leaf:before {
      position: absolute;
      content: '';
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      box-sizing: border-box;
      border: 1px dashed white;
    }

    &.hidden {
      display: none;
    }
  }

  .group {

  }
}

// SVG

.treeMap svg {
  width: 100%;
  height: 100%;

  text {
    pointer-events: none;
  }

  .inner-border {
    stroke: #000;
    stroke-width: 2;
  }

  .outer-border {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2;

    &:hover {
      cursor: pointer;
      fill: #000;
      fill-opacity: 0.5;
    }

    &:hover + text {
      fill: #fff;
      fill-opacity: 1;
    }
  }

  .leaf {
    stroke: #fff;
    stroke-width: 2;
  }

  text {
    font-size: 1em;
    line-height: 1.2em;
    // transform: translate3d(3px, 3px, 0);
  }
}
