<div class="treeMapWrapper">
  <div class="top-bar">
    <ul id="back" class="left no-list-style horizontal-list">
    </ul>
    <p class="right">
      <label for="f-visible-depth">Depth:</label>
      <input id="f-visible-depth" type="number" ng-model="treeMap.visibleDepth">
    </p>
  </div>
  <div class="treeMap">
    <svg class="d3"></svg>
  </div>
</div>
